.accordion-block{
    width: 100%;
    height: auto;
    min-height: 600px;
    margin-bottom: 70px;
    @media (max-width: 700px) {
        .accordion{
           width: 90%;
          
        }
    }
    
}

.bcmobile{
    display: none;
    @media (max-width: 700px) {
        display: block;
    }
}
.bcdesktop{
    @media (max-width: 700px) {
        display: none;
    }
}