.error-block{
   width: 100%;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center ;
   margin-top: 60px;
  
   span{
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 900;
     font-size: 288px;
     line-height: 142.6%;
     color: #FF6060;
     @media (max-width:1100px ) {
      font-size: 188px;
    }
    @media (max-width:750px ) {
        font-size: 96px;
        margin-top: 50px;
      }
   }
   p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
    width: 100%;
    text-align: center;
    @media (max-width:1100px ) {
        font-size: 26px;
        
      }
      @media (max-width:750px ) {
        font-size: 20px;
        width: 80%;
        margin-top: 0;
      }
   }
   a{
    margin-top: 200px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-decoration-line: underline;
    color: #FF6060; 
   }
}

.img404mobile{
  display: none;
  @media (max-width: 700px) {
      display: block;
  }
}
.img404desktop{
  @media (max-width: 700px) {
      display: none;
  }
}