header{
    display: flex;
    width: 90%;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto auto ;
    .logo{
        img{
            @media (max-width:750px) {
                width: 145px;
                height: 47px;
            }
            @media (max-width:431px) {
                width: 115px;
                
            }
        }
       
    }
    nav{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        a{
            color: #FF6060;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 142.6%;
            margin-left: 57px;
            display: flex;
            align-items: flex-end;
            text-align: right;
            @media (max-width:750px) {
                font-size:17px ;
                margin-left: 30px;
                text-transform: uppercase; 
            }
            @media (max-width:431px) {
                font-size:15px ;
                margin-left: 25px;
            }
        }
    }
}