.slideBlock{
    width: 90%;
    margin: auto;
    height: 415px;
    margin-top: 25px;
    position: relative;
    .slide{
        display: none;
    }
    .slide.active{
        display: block;
        width:100%;
        height: 100%;
        position: relative;
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
            mix-blend-mode: normal;
            border-radius: 25px;
            
        }
        .count-slide{
         position: absolute;
         left: 50%; /* à 50%/50% du parent référent */
         transform: translate(-50%); 
         bottom: 10px;
         color: #fff;
         font-style: normal;
         font-weight: 500;
         font-size: 18px;
         line-height: 142.6%;
        }
    }
    .next{
        position: absolute;
        cursor: pointer;
        right: 0px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .previous{
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
